<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86043920032-hmonkf97b959d9902htmesuhts1fch0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86043920032-hmonkf97b959d9902htmesuhts1fch0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86043920032-mhc51seccdagr4c7gp1m603saeljj8qm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKw76xbNEr7XkRIwVIFEWkywpsMQQvEnI</string>
	<key>GCM_SENDER_ID</key>
	<string>86043920032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AntonioMLZ.optimizaandroid</string>
	<key>PROJECT_ID</key>
	<string>wallhaven-c3f64</string>
	<key>STORAGE_BUCKET</key>
	<string>wallhaven-c3f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86043920032:ios:fb679ce0f5434effa06bc5</string>
	<key>DATABASE_URL</key>
	<string>https://wallhaven-c3f64-default-rtdb.firebaseio.com</string>
</dict>
</plist>